@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  /* background: radial-gradient(
    circle farthest-side,
    rgba(255, 0, 182, 0.15),
    rgba(255, 255, 255, 0)
  ); */
  background: radial-gradient(125% 125% at 50% 10%, #000 40%, rgb(94, 43, 235) 100%);
  background-attachment: fixed;
  min-height: 100vh;
  /* background: black; */
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
